// main.styl
@import '~vuetify/src/stylus/theme.styl'

$material-dark.background = #2C2630
$material-dark.bg-color = #2C2630
$material-dark.color = #eceaed
$material-dark.text-color = #eceaed
$material-dark.fg-color = #eceaed

$body-font-family = 'Josefin Sans', sans-serif

@import '~vuetify/src/stylus/main.styl'