// main.styl
@import '~vuetify/src/stylus/theme.styl'

//$blueGray = #505f75
//$blueGray = #4f6c7a
//$blueGray = #566e7c
//$blueGray = #5e5563
//$blueGray = #585563
//$blueGray = #504f63
$blueGray = #4f5263
$blueGray = #3D4D56

$darkPurple = #332b38
$purpleGray = #999cb2
$teal = #505f75

$darkPurple = #332b38
$purpleGray = #7D7D7F
$teal = #506D75

$material-dark.background = linear-gradient(135deg, $darkPurple, $purpleGray, $teal);
$material-dark.bg-color = $blueGray
$material-dark.cards = $blueGray
$material-dark.app-bar = $darkPurple
$material-dark.text.primary = rgba(#fff, .87)

$body-font-family = 'Josefin Sans', sans-serif

@import '~vuetify/src/stylus/main.styl'