// main.styl
@import '~vuetify/src/stylus/theme.styl'

$blueGray = #505f75

$darkPurple = #332b38
$purpleGray = #999cb2
$teal = #505f75

$material-dark.background = linear-gradient(135deg, $darkPurple, $purpleGray, $teal);
$material-dark.bg-color = $blueGray
$material-dark.cards = $blueGray
$material-dark.app-bar = $darkPurple

$body-font-family = 'Josefin Sans', sans-serif

@import '~vuetify/src/stylus/main.styl'