
$rhBlueGrey: #5c707d;
$rhLightBlueGrey: #6f808c;

.rh-panel {
    background-color: $rhBlueGrey !important;
}

.rh-panel-hovered {
    background-color: $rhLightBlueGrey !important;
}

.rh-clickable {
    cursor: pointer;
}
