
//.body {
//    background-image: linear-gradient(#234a4a, #222626);
//    background-attachment: fixed;
//}

$rhBlueGrey: #5c707d;
$rhLightBlueGrey: #6f808c;

.rh-panel {
    background-color: $rhBlueGrey;
}

.rh-panel-hovered {
    background-color: $rhLightBlueGrey;
}

.rh-clickable {
    cursor: pointer;
}

@mixin rh-op-x {
    @for $i from 1 through 19 {
        .rh-op-#{$i * 5} {
            opacity: .05 * $i !important;
        }
    }
}

@include rh-op-x
